---
Language:        Cpp
Standard:        Latest
BasedOnStyle:    LLVM
ColumnLimit:     90
IndentWidth:     4
TabWidth:        4
UseTab:          ForIndentation
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled:         true
  AlignCompound:   true
  PadOperators:    false
AlignConsecutiveBitFields:
  Enabled:         true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: false
CompactNamespaces: true
IndentCaseLabels: true
IndentRequiresClause: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Middle
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  # 'stdafx.h' must come first if present
  - Regex:           'stdafx.h'
    Priority:       -1
  # Qt Headers in <> without extension.
  - Regex:           '<(Q|Qt)[A-Z][A-Za-z0-9]+>'
    Priority:        4
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        6
  # Headers in <> from specific external libraries.
  - Regex:           '<(boost)\/.+>'
    Priority:        5
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority:        3
  # Qt ui_ Headers.
  - Regex:           '"ui_[A-Za-z0-9]+\.hpp"'
    Priority:        1
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        2
...

