Win32
x64
*.user
.vs
/bmi64-cache
/libavcodec
/libavformat
/libavfilter
/libavutil
/libav
/boost.program_options
/boost.mp11
/SDL2-2.0.22
/lib64
/libav-test
/bmi64
/bin64
/SDL2
/asio
/ExternalLibraryVersions.props
/Newtons_cradle_animation_book_2.gif
/0_hello_world.c
/Untitled-1.cpp
/sample.gif
/Java vs C++.gif
/include
/Demo-App/main - Kopie.cpp
/Demo-App/P2502.hpp
/Demo-App/net.ixx
/Demo-App/net.cpp
/Demo-App/P2168.hpp
